{% extends "base.html" %}
{% block title %}
    <div class="pl-5 ml-5">
        Home
    </div>
{% endblock title %}
{% block content %}
    <div class="row">
        {% for model_name, stats in object_list.items %}
            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <div class="row d-block d-xxl-flex align-items-center">
                            <div class="col-12">
                                <h2 class="fs-5 fw-normal mb-1">{{ model_name|capfirst }}</h2>
                                <h3 class="fw-extrabold mb-1">{{ stats.current_month }} kg</h3>
                                <small class="d-flex align-items-center">
                                    <svg class="icon icon-xxs text-gray-400 me-1"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd">
                                        </path>
                                    </svg>
                                {{ stats.range.0 }} - {{ stats.range.1 }} </small>
                                <div class="small d-flex mt-1">
                                    <div>
                                        <span class="{% if stats.trend == 'up' %} text-success {% elif stats.trend == 'down' %} text-danger {% endif %} fw-bolder me-1">{{ stats.diff_perc }}%</span> Since last month
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
