{% extends "base.html" %}

{%block title%}
    Registro de combustível
{% endblock title %}

{% block content %}
<body>
  <form action="/register" method="post">
    <label for="date">Data:</label>
    <input type="date" id="date" name="data">
    <label for="odometer">Litros:</label>
    <input type="number" id="litros" name="litros">
    <label for="gallons">Galões:</label>
    <input type="number" id="ga" name="galoes">
    <button type="submit" class="btn btn-primary btn-sm">Registrar</button>
  </form>
</body>
</html>
{% endblock content %}