{% load static %}
{% load is_checkbox %}
<div class="accordion card mb-3 border-0 shadow" id="FiltersAccordion">
    <div class="accordion-item bg-white rounded border-0">
        <h2 class="accordion-header rounded-top">
            <button class="accordion-button bg-white rounded shadow-none"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#FiltersCollapse"
                    aria-expanded="false"
                    aria-controls="FiltersCollapse">
                <h6 class="m-0 p-0">Filtros</h6> 
                <!-- add badge with number of active filters -->
                <span class="badge bg-info rounded-pill ms-2">{{ number_of_active_filters }}</span>
            </button>
        </h2>
        <!-- {% if number_of_active_filters > 0 %} show {% endif %} -->
        <div id="FiltersCollapse"
             class="accordion-collapse collapse"
             data-bs-parent="#FiltersAccordion">
            <div class="accordion-body">
                <form id="filters-form" method="get">
                    <div class="row g-2">
                        {% for field in filter_form %}
                            <div class="col me-2">
                                {% if field|is_multiple_choice %}
                                    {{ field.label_tag }}
                                    {% if field|length <= 0 %}
                                        <label class="form-check-label text-small text-gray-300">Sem Registros</label>
                                    {% else %}
                                        {% for choice in field %}
                                            <div class="form-check">
                                                {{ choice.tag }}
                                                <label class="form-check-label mb-0" for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% else %}
                                    {{ field.label_tag }}
                                    {{ field }}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row g-2 mt-2">
                        <div class="col justify-content-start d-flex">
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-funnel pe-2"></i>Filtrar
                            </button>
                            <a href="{{ request.path }}">
                            <button class="btn btn-outline-secondary ms-2" type="button">
                                <i class="bi bi-eraser pe-2"></i>Limpar Filtros
                            </button>
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="card-body"></div>
