{% load static %}
{% load page_parser %}
<nav aria-label="Page navigation example" class="mt-4">
    <ul class="pagination mb-0">
        {% if object_list.has_previous %}
            <li class="page-item">
                <a class="page-link"
                   href="{% page_parser 'page' 1 request.GET.urlencode %}"
                   aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   href="{% page_parser 'page' object_list.previous_page_number request.GET.urlencode %}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}
        {% for i in object_list.paginator.page_range %}
            {% if i == object_list.number %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{ i }} <span class="sr-only"></span></a>
                </li>
            {% elif i > object_list.number|add:'-10' and i < object_list.number|add:'10' %}
                <li class="page-item">
                    <a class="page-link"
                       href="{% page_parser 'page' i request.GET.urlencode %}">{{ i }}</a>
                </li>
            {% elif i == object_list.number|add:'-10' or i == object_list.number|add:'10' %}
                <li class="page-item">
                    <span class="page-link">&hellip;</span>
                </li>
            {% endif %}
        {% endfor %}
        {% if object_list.has_next %}
            <li class="page-item">
                <a class="page-link"
                   href="{% page_parser 'page' object_list.next_page_number request.GET.urlencode %}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   href="{% page_parser 'page' object_list.paginator.num_pages request.GET.urlencode %}"
                   aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
