{% extends 'base.html' %}
{% block title %}Fornecedor{% endblock %}
{% block content %}
<form class="row g-3 needs-validation" novalidate>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Nome da Empresa</label>
    <input type="text" class="form-control" id="validationCustom01" required>
    <div class="valid-feedback">
      Muito bem!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Telefone</label>
    <input type="tel" class="form-control" id="validationCustom02" required>
    <div class="valid-feedback">
      Muito bem!
    </div>
  </div>

  <div class="col-md-6">
    <label for="validationCustom03" class="form-label">Cidade</label>
    <input type="text" class="form-control" id="validationCustom03" required>
    <div class="invalid-feedback">
      Favor insira uma cidade válida.
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom04" class="form-label">Estado</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">escolha...</option>
      <option>São Paulo</option>
      <option>Rio de Janeiro</option>
      <option>Minas Gerais</option>
    </select>
    <div class="invalid-feedback">
      Favor inserir um estado válido.
    </div>
  </div>

  <div class="col-12">
    <a href=""></a>
    <button class="btn btn-primary" type="submit">Cadastrar</button>
  </div>
</form>

{% endblock %}