{% extends 'base.html' %}
{% block title %}Fornecedor{% endblock %}
{% block content %}
<section class="card border-0 shadow">
    <div class="card-body">
            <a href="fornecedor_cadastro.html">
            <navbar bg-body-tertiary">
                <form class="container-fluid justify-content-start">
                    <button class="btn btn-outline-success me-2" type="button">
                    Cadastrar Fornecedor
                    </button>
                </form>
            </a> 
            </nav>
        </navbar>
    </div>
</section>

{% endblock %}
