{% extends 'base_card.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div class="table-responsive">
    <table class="table table-centered mb-0 rounded table-sm">
        <thead class="thead-light">
            <tr>
                <th class="align-middle border-0 rounded-start">Nome</th>
                <th class="align-middle border-0 ">Estado</th>
                <th class="align-middle border-0 rounded-end"></th>
            </tr>
        </thead>
        <tbody>
            {% for entry in object_list %}
            <tr class="align-middle">
                <td>{{ entry.nome }}</td>
                <td>{{ entry.estado }}</td>
                <td>
                    <div class="d-flex justify-content-end me-3">
                        <a href="{% url app_name|add:':edit' pk=entry.id %}" title="Editar">
                            <button class="btn btn-sm shadow-none border-0">
                                <i class="bi bi-pencil-square text-secondary"></i>
                            </button>
                        </a>
                        <form onsubmit="return confirm('Confirmar deleção?');"
                            action="{% url app_name|add:':delete' pk=entry.id %}" method="POST" value="delete">
                            {% csrf_token %}
                            <button class="btn btn-sm shadow-none border-0" title="Deletar">
                                <i class="bi bi-x-circle text-danger"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Nenhum Cadastro</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}