.toast{
    // --#{$prefix}toast-max-width: 400px;
    font-size: 1.1rem;
}

#django-message{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

.table td, .table th{
    padding-left: 0.9rem !important;
    padding-right: 0.1rem !important;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
  }
  
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
  }
  
  .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
  .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
  .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
  
  .card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .feature-icon-small {
    width: 3rem;
    height: 3rem;
  }
  