{% extends 'base_card.html' %}
{% block title %}Localidade{% endblock %}
{% block content %}
    <div class="table-responsive m-4">
        <table class="table table-centered mb-0 rounded table-sm">
            <thead class="thead-light">
                <tr>
                    <th class="align-middle border-0 rounded-start">Nome da Localidade</th>
                    <th class="align-middle border-0 rounded-end"></th>
                </tr>
            </thead>
            <tbody>
                {% for entry in object_list %}
                    <tr class="align-middle">
                        <td>{{ entry.nome }}</td>
                        <td>
                            <div class="d-flex justify-content-end me-3">
                                <a href="{% url 'localidade_edit' pk=entry.id_localidade %}">
                                    <button class="btn btn-sm shadow-none border-0">
                                        <i class="bi bi-pencil-square text-secondary"></i>
                                    </button>
                                </a>
                                <form onsubmit="return confirm('Confirmar deleção?');"
                                      action="{% url 'localidade_delete' pk=entry.id_localidade %}"
                                      method="POST"
                                      value="delete">
                                    {% csrf_token %}
                                    <button class="btn btn-sm shadow-none border-0">
                                        <i class="bi bi-x-circle text-danger"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">Nenhuma localidade cadastrada</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
